$borderColor = #dcdcdc

ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

clearfix()
  content ''
  display table
  clear: both

$iconfontColor = #34a6dd

$inputBorderColor = #b5b5b5

.maskLayer
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background-color rgba(0, 0, 0, .7)
  z-index 999

.centerLayer
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 50rem

  .popup
    background-color #fff

    .popupTopBar
      font-size 1.5rem
      line-height 4.125rem
      color #fff
      background-color #34a5dd
      padding 0 2.25rem
      ellipsis()

      &:after
        content ''
        display table
        clear both

      .iconfont
        cursor pointer

    .popupWrap
      padding 1.875rem 2.625rem

      > div

        &:not(:last-of-type)
          margin-bottom 2.5rem

        span
          display block
          float left
          width 25%
          line-height 2.5rem
          text-align right

          i
            font-size .75rem
            color red

        input
          float left
          width 60%
          height 2.5rem
          font-size .875rem
          border 1px solid $inputBorderColor

    .btns
      margin-top 2.5rem
      text-align right

      &:after
        clearfix()

      &.textAlignLeft
        text-align left
        padding-left 25%

      a
        display inline-block
        font-size 1.125rem
        line-height 2.625rem
        padding 0 1.5rem
        color #fff
        background-color #34a5dd
        border 1px solid #34a5dd
        border-radius .3rem

        &.cancel
          background-color #fff
          color #34a5dd
          border-color #34a5dd

        &:not(:first-child)
          margin-left 2.5rem

i.el-icon-star-on
  color #f00
  font-size 10px
  height 100%
  vertical-align top
  line-height 28px

.ensure
  width 100px
  height 45px
  line-height 45px
  font-size 16px
  color #ffffff
  background-color #35a5de
  border-radius 5px
  text-align center
  margin-right 2.5rem
  border 1px solid #ffffff

.window-top
  width 100%
  height 65px
  background-color #35a5de
  padding 0 2.5rem

.clss
  display block
  height 100%
  line-height 65px
  color #ffffff
  background #35a5de
  border none
  font-size 24px

.window-content

  > div

    padding-bottom 30px

    span
      display block
      float left
      width 25%
      height 2.5rem
      line-height 2.5rem
      text-align right

    input[type=text]
      display block
      float left
      width 60%
      height 2.5rem
      line-height 2.5rem
      border 1px solid $inputBorderColor

    select
      display block
      float left
      width 60%
      height 2.5rem
      line-height 2.5rem
      font-size 14px

.timer
  padding 0 !important

  input
    height 2rem !important
    border-radius 0
    margin 0
    padding 0
    border-color #aaa

