.maskLayer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 999;
}
.centerLayer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
}
.centerLayer .popup {
  background-color: #fff;
}
.centerLayer .popup .popupTopBar {
  font-size: 1.5rem;
  line-height: 4.125rem;
  color: #fff;
  background-color: #34a5dd;
  padding: 0 2.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.centerLayer .popup .popupTopBar:after {
  content: '';
  display: table;
  clear: both;
}
.centerLayer .popup .popupTopBar .iconfont {
  cursor: pointer;
}
.centerLayer .popup .popupWrap {
  padding: 1.875rem 2.625rem;
}
.centerLayer .popup .btns {
  margin-top: 2.5rem;
  text-align: right;
}
.centerLayer .popup .btns:after {
  content: '';
  display: table;
  clear: both;
}
.centerLayer .popup .btns a {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 2.625rem;
  padding: 0 1.5rem;
  color: #fff;
  background-color: #34a5dd;
  border: 1px solid #34a5dd;
  border-radius: 0.3rem;
}
.centerLayer .popup .btns a.cancel {
  background-color: #fff;
  color: #34a5dd;
  border-color: #34a5dd;
}
.centerLayer .popup .btns a:not(:first-child) {
  margin-left: 2.5rem;
}
i.el-icon-star-on {
  color: #f00;
  font-size: 10px;
  height: 100%;
  vertical-align: top;
  line-height: 28px;
}
