.centerLayer
    width 36rem

    .occupied
        height 1rem

        span
          display inline !important
          float none !important

    .explain
        font-size 1.2rem
        margin 3rem 2rem 4rem

    .btn
        margin-top 3rem

        button
            width 5rem
            height 2rem
            background-color #34a5dd
            border 1px solid #fff
            color #ffffff
            border-radius 3px

            &:first-child
                background-color #fff
                border 1px solid #34a5dd
                color #34a5dd
                margin-left 2rem