.centerLayer
  width auto !important

  .popupWrap
    h4
      font-size 1.6rem
      color #111
      font-weight normal
      margin-bottom 1.2rem

    .data
      font-size 1.2rem
      margin-bottom 2rem

      input
        line-height 1rem
        width auto !important
        height auto !important
        float none !important

      label
        margin-right 3rem
        line-height 1rem
        padding-bottom 1rem
        font-size 1.2rem

        span
          display inline
          float none

    .fields_box
      font 0
      width 50rem
      margin-bottom 2rem

      .fields
        width 9rem
        height 2.6rem
        line-height 2.4rem
        display inline-block
        margin-right 5%
        margin-bottom 1rem
        padding-left .8rem
        background-color #34a5dd
        color #fff
        border-radius 2px
        font-size 1.2rem
        border 1px solid #34a5dd

        i
          margin-left 20%
          padding 1px
          border-radius 50%
          font-size 1.2rem
          background-color #fff
          color #34a5dd

      &.backcolor .fields
        background-color #fff
        border 1px solid #666
        color #666

        i
          background-color #ccc
          color #fff
    
    a
      width 7rem
      height 2.6rem
      line-height 2.5rem
      text-align center
      margin-right 5%
      background-color #34a5dd
      color #fff
      border-radius 2px
      font-size 1.2rem
