.newContest

  .item
    width 80%
    margin auto

    .title
      font-size 1.25rem
      line-height 2.5rem
      position relative

      .iconfont
        font-size 1.25rem
        position absolute
        left -2rem

    .subText
      font-size 1rem
      line-height 1.5
      color #7b7b7b
      padding .5rem 0

    .selectFile

      &:after
        clearfix()

      input
        float left
        width 80%
        height 2.5rem
        border 1px solid #b5b5b5

      a
        float right
        width 15%
        height 2.5rem
        font-size 1rem
        line-height 2.5rem
        text-align center
        background-color #34a5dd
        color #fff
        border-radius .3rem

  a.downloadTemplate
    float left
    width 15%
    height 2.5rem
    font-size 1rem
    line-height 2.5rem
    text-align center
    background-color #34a5dd
    color #fff
    border-radius .3rem
    margin-top 1rem
    margin-bottom 2.6rem

.progressBarWrap
  margin-top 1rem
  padding 2rem 15%
  background-color #fff

  .progressBar
    margin-top 1rem
    width 80%

    .fl
      height 1rem
      width 88%
      border 1px solid #aaa

      .info
        width 20%
        height 1rem
        background-color #aaa
