.tableWrap {
  padding: 0 25px 0 20px;
}
.tableWrap i.select {
  margin-right: 2%;
  margin-left: 2%;
  border: 1px solid $borderColor;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
}
.tableWrap .iconfont {
  font-size: 22px;
  margin: 0 3px;
  cursor: pointer;
}
.tableWrap .iconfont:hover {
  color: $iconfontColor;
}
.tableWrap .el-table th > .cell {
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}
.tableWrap .el-table td {
  font-size: 16px;
  text-align: center;
}
.tableWrap .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #e2e7ec !important;
}
.tableWrap .el-checkbox__inner {
  border-color: $borderColor;
}
