.tableWrap
  padding 0 1.5rem 0 1.25rem

  i

    //&.select
    //  margin-right 2%
    //  margin-left 2%
    //  border 1px solid $borderColor
    //  color #fff
    //  font-size 13px
    //  line-height 13px

  table

    .iconfont
      font-size 1.25rem
      margin 0 .1875rem
      cursor pointer

      &:hover
        color $iconfontColor

  a
    cursor pointer

    &:hover
      color $iconfontColor

  .el-table
    th
      > .cell
        font-size 1.125rem
        text-align center
        font-weight normal

  .el-table
    td
      font-size 1rem
      text-align center

    td:last-child
      color #38a4de
      width 8%

  .el-table--enable-row-hover
    .el-table__body
      tr
        &:hover
          > td
            background-color #e2e7ec !important

  .el-checkbox__inner
    border-color $borderColor
.el-pagination__sizes
    display none!important
.window-content
  .iconfont
    color #f00

    &:hover
      color #f00
