.essential{
    width: 100%;
    height: 100%;
    min-width: 800px;
    overflow: scroll;
    padding-bottom: 40px;
}
.title{
    height: 46px;
    width: 100%;
    line-height: 46px;
    color: #41acdf;
    border-bottom: 1px solid #ccc;
    padding-left: 24px;
    padding-right: 70px;

}
.title span{
    font-size: 16px
}
.search_box{
    width: 100%;
    height: 26px;
    padding: 0 70px 0 24px;
    margin-top: 22px;
}
select.filtrate,
select.sort{
    width: 8%;
    height: 26px;
    border: 1px solid #79cefc;
    font-size: 12px;

}
select.filtrate{
    margin-right: 2%;
}
select.filtrate option,
select.sort option{
    color: #a3a3a3;
}
.search{
    position: relative;
    height: 26px;
    width: 21.3%;
    /* border: 1px solid red; */
}
.search input{
    height: 100%;
    width: 77%;
    border: 1px solid #ccc;
    font-size: 12px;
    padding-left: 28px;
}
.search i{
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    text-align: center;
    font-size: 16px;
    line-height: 26px
    /* background: url('../assets/images/search.png') no-repeat center/60% auto; */
}
.search button{
    position: absolute;
    right: 0;
    top: 4px;
    width: 20%;
    height: 20px;
    background-color: #999;
    border-radius: 3px;
    line-height: 19px;
    /* margin-left: 5%; */
}
.allSelect{
    margin-top: 40px;
    margin-left:24px;
}
.content{
    width: 100%;
    margin-top: 38px;
    padding: 0 24px;
}
.list_title{
    height: 74px;
    width: 100%;
    /* border: 1px solid red; */
}
.list_title span{
    display: inline-block;
    width: 8%;
    height: 100%;
    line-height: 100%;
    font-size: 18px;
    line-height: 74px;
    color: #717171
}
.list_title .number{
    margin-left: 10%
}
.list_title .name{
    margin-left: 12.8%
}
.list_title .url{
    margin-left: 17%
}
.list_title .operation{
    margin-left: 22%
}
.list_content{
    width: 100%;
    border: 1px solid #eee;
    border-bottom: none;
}
.list_content li{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eee;
}
.list_content span,
.list_content i{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 76px;
    color: #000;
    font-size: 16px
    /* border: 1px solid red; */
}
.list_content i{
    height: 14px;
    width: 14px;
}
.list_content i.select{
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid #ccc;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
}
.allSelect i:first-child{
    /* display: inline-block; */
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    margin-right:6px;
}
.allSelect span{
    height: 16px;
    line-height: 15px;
    margin-right: 2%;
    font-size: 14px;
}
.list_content i.select.active,
.allSelect i.active{
    border-color: #36a3de;
    background-color: #36a3de;
}
.list_content span.number{
    width: 15%;
    margin-right: 7%;
}
.list_content span.name{
    width: 12%;
    margin-right: 3%;
}
.list_content span.url{
    width: 33%;
    margin-right: 7%;
}
.list_content i:not(:first-child){
    line-height: 16px;
    font-size: 20px;
    color: #36a3de;
}
.list_content i.delete{
    margin-left: 3%;
    margin-right: 3%;
}
.page{
    margin-top: 55px;
}
.page button{
    width: 60px;
    height: 30px;
    background-color: #38a4de;
    margin-left: 1%;
    border-radius: 5px;
    color: #fff;
}