.content_list .kind{
	padding: .3rem;
	position: relative;
}
.test .c_title{
	font-size:.3rem;
	color:#000;
	font-family:lty;
	padding-bottom: .24rem
}
.test .c_title span{
	font-size: .24rem;
	padding-left: .88rem
}
.test li div:nth-child(2) span{
	font-size: .2rem;
	display: block;
	float: left;
	margin-right: .6rem;
}
.test li div:nth-child(2) span:nth-child(4){
	margin-right: 0
}
.test li div a{
	display: block;
    position: absolute;
    top: .53rem;
    right: .3rem;
    font-size: .3rem;
    color: #37a4df;
}
