body{background: #f4f5f6;}
.header .arrow{
	display: none;
}
.banner{
	background: #fff;
}
.userinf_box{
	width: 100%;
	background:#37a4df;
	position: relative;
}
.userinf_box::before{
	display: block;
	content: '';
	width: 1.32rem;
	height: 1.32rem;
	border-radius: 50%;
	position: absolute;
	left: .3rem;
	top: .4rem;
	background:url(../images/classify.png)center/100% 100%;
	
}
.userinf_box p{
	padding-left:2.1rem;
	color: #fff;
}
.userinf_box .username{
	padding-top: .6rem;
	padding-bottom: .2rem;
	font-size: .3rem;
}
.userinf_box .account{
	font-size: .24rem;
	padding-bottom: .9rem;
}
.my_bg{
	width: 100%;
	height: .78rem;
	background: url(../images/my_bg.png)center/100% 100%;
}
.user_inf{
	width: 100%;
	padding-left: .88rem;
}
.user_inf ul{
	width: 100%;
}
.user_inf ul li{
	width: 50%;
	float: left;
	margin-bottom: .19rem;
	font-size: .24rem;
	text-align: left;
	color: #fff;
}
.my_content{
	width: 100%;
	height: auto;
	padding-top: .1rem;
	padding-left:.3rem;
	background: #fff;
}
.my_content ul{
	widows: 100%;
}
.my_content ul li{
	width: 100%;
	height: .98rem;
	text-align: left;
	font-size: .3rem;
	border-bottom: 1px solid #f3f3f3;
	position: relative;
}
.my_content ul li a{
	display: block;
	width:100%;
	height:100%;
	line-height: .98rem;
}
.my_content ul li a i:first-child{
	font-size: .3rem;
	margin-right: .16rem;
	color:#37a4df;
}
.my_content ul li a i:last-child{
	font-size: .28rem;
	margin-right: .3rem;
	float: right;
}
.my_content ul li:last-child{
	border:none;
}
.my_content ul li:last-child a i{
	float: none;
	margin-right: .16rem;
}












