.single-choice{
    font-size: .3rem;
    padding: .3rem .2rem .2rem .2rem;

}
.question{
    font-size: .3rem;
    padding-left: .25rem;
    padding-bottom: .4rem
}
.subject{
    width: 100%;

}
.subject ul{
    width: 100%
}
.subject ul li{
    width: 100%
}
.subject ul li div p{
    width: 100%;
    font-size: .3rem;
    height: 1rem;
    padding: 0 .3rem;
    line-height: 1rem
}
.subject ul li div .active{
    background: #fff;
}
.subject ul li div .active a{
    color: #fff;
    border: none!important;
    background: #37a4df
}
.subject ul li div p a{
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    display: block;
    float: left;
    border:1px solid #999;
    font-weight: bold;
    line-height: .6rem;
    text-align: center;
    margin-top: .2rem;
    margin-right: .2rem
}
.subject ul li div p span{
    display: block;
    float: left;
}
.arrow{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 3rem;
}
.arrow a{
   width: 1.2rem;
   height: 1.2rem;
   text-align: center;
   border-radius: 50%;
   box-shadow:0 0 5px #333;
   color: #fff;

}
.arrow a i{
    display: block;
    font-size: .6rem;
    line-height: 1.2rem
}
.arrow .pre{
    transform: rotate(180deg)
}
.arrow .pre{
    float: left;
    margin-left: .4rem;
    background: rgba(0,0,0,0.35)
}
.arrow .next{
    float: right;
    margin-right: .4rem;
    background: #37a4df
}
.paper-bot{
    width: 100%;
    height: 1.08rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 0 .3rem;
    z-index:10;
}
.paper-bot .fl{
    width: 3rem;
    height: .6rem;
    border-radius: .5rem;
    margin-top: .24rem;
    font-size: .3rem;
    line-height: .6rem;
    padding:.05rem .2rem;
    color: #37a4df;
    border: 1px solid #37a4df
}
.paper-bot .fl span{
    width: 50%;
    height: 100%;
    border-right: 1px solid #37a4df;
    display: block;
    float: left;
    color: #37a4df;
    line-height: .5rem;
}
.paper-bot .fl a{
    width: 50%;
    height: 100%;
    display: block;
    color: #37a4df;
    text-align: center;
    float: left;
    line-height: .5rem;
}
.paper-bot .fr{
    width: 50%;
    height: 100%;
}
.paper-bot .fr a{
    width: .36rem;
    height: .36rem;
    text-align: right;
    color: #37a4df;
    font-size: .3rem;
    display: block;
    float: right;
    margin-right: .2rem
}
.paper-bot .fr a i{
    font-size: .5rem;
    line-height: 1.08rem;
}
.paper-bot .fr span{
    display: block;
    font-size: .3rem;
    color: #37a4df;
    line-height: 1.08rem;
    float: right;
}
.pop{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 6;
	width: 100%;
	height: 100%;
    background-color: rgba(0,0,0,.7);
    /* display: none; */
}
.answer_sheet{
	position: absolute;
	left: 0;
	bottom: 1rem;
	width: 100%;
	background-color: #fff;
}
.answer_sheet .title{
	height: 1rem;
	line-height: 1rem;
    border-bottom: 1px solid #eee;
    padding: 0;
    margin: 0;
    border-left: none;
}
.answer_sheet .title h4,
.answer_sheet .title span{
	display: inline-block;
}
.answer_sheet .title h4{
	font-weight: normal;
	margin-left: 4%;
	font-size: .34rem;
}
.answer_sheet .title span i{
	display: inline-block;
	height: .25rem;
	width: .5rem;
	background-color: #37a4df;
}
.answer_sheet .title span.red{
	padding-left: 3%;
	padding-right: 2%;
}
.answer_sheet .title span.red i{
	background-color: #f00;
}
.answer_content{
    padding-bottom: 2.6rem;
    font-size: 0;
}
.answer_content ul{
	width: 100%;
	margin-top: .5rem;
}
.answer_content li{
	width: 100%;
	height: 1rem;
	padding: 0 5%;
    line-height: 1rem;
    margin-right: .2rem;
    display: flex;
    justify-content: space-between;
}
.answer_content li span{
	height: .6rem;
	width: .6rem;
	border: 1px solid #aaa;
	border-radius: 50%;
	text-align: center;
	line-height: .56rem;
    font-size: .3rem;
}
.answer_content li .red{
	background-color: #f00;
	border-color: #f00;
	color: #fff;
}
.answer_content li .blue{
	background-color: #37a4df;
	border-color: #37a4df;
	color: #fff;
}
.answer-wrap{
    width: 100%;
    position: fixed;
    bottom: 1.08rem;
    left: 0;
    background: #fff;
}
.answer-wrap .answer-parse span{
    color: #333!important;
}
.answer-wrap .r-answer{
    width: 100%;
    height: auto;
    padding:.3rem;
    border-bottom: 1px solid #eee;
    font-size: .3rem;
    color: #37a4df
}
.answer-wrap .answer-parse{
    padding: .3rem .3rem .5rem .3rem;
    font-size: .3rem;
    border-bottom: 1px solid #eee;
    color: #37a4df
}