.content_list .kind>a>div{
	display: inline-block;
}
.content_list .video_box{
	width: 2.22rem;
	height: 1.42rem;
	background-color: #ccc;
}
.content_list .kind{
	padding: .3rem
}
.kind .video_title{
	width: auto;
	vertical-align: top;
}
.kind .video_title div:first-child{
	font-size: .3rem;
	padding-bottom: .22rem;
}
.kind .video_title div:nth-child(2){
	font-size: .24rem;
	padding-bottom: .22rem;
}
.kind .video_title div:nth-child(2) span,
.kind .video_title div:last-child{
	font-size: .24rem;
}

